<header class="header">
    <a class="navbar-logo" routerLink="/home">
    <img id="logo" src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=height:60/https://file-uploads.teachablecdn.com/cafdd5e23ede4e52b0b3c293024bcbf1/a1de44835f9c41309464ba4c42d99284" alt="SoulCode Academy" srcset="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=height:120/https://file-uploads.teachablecdn.com/cafdd5e23ede4e52b0b3c293024bcbf1/a1de44835f9c41309464ba4c42d99284">
    </a>
  </header>


  <mat-card class="card">

     <h1>Lista de Formulários</h1>

   <button routerLink="/formulario/novo-formulario" class="button" mat-stroked-button color="primary"> Adicionar formulário </button><br><br>

   <mat-form-field appearance="standard">
        <mat-label>Pesquisar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
      </mat-form-field>


      <mat-radio-group color="primary">
        <mat-radio-button (click)="findAll()">TODOS</mat-radio-button>
         <mat-radio-button *ngFor="let turma of camposDaTurma" (click)="orderByTurma(turma)" value="0">{{turma}}</mat-radio-button>
        </mat-radio-group>

     <div class="mat-elevation-z8">

        <table mat-table [dataSource]="dataSource">

           <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef><h3> Número do formulário </h3></th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
           </ng-container>

           <ng-container matColumnDef="destinatarioPergunta">
             <th mat-header-cell *matHeaderCellDef><h3> Tipo do formulário (aluno/empresa) </h3></th>
             <td mat-cell *matCellDef="let element"> {{element.destinatarioPergunta}}</td>
          </ng-container>

           <ng-container matColumnDef="turma">
              <th mat-header-cell *matHeaderCellDef><h3> Curso </h3></th>
              <td mat-cell *matCellDef="let element"> {{element.turma}} </td>
           </ng-container>

           <ng-container matColumnDef="periodoFormulario">
             <th mat-header-cell *matHeaderCellDef><h3> Período </h3></th>
             <td mat-cell *matCellDef="let element"> {{element.periodoFormulario}} </td>
          </ng-container>

           <ng-container matColumnDef="acoes">
              <th mat-header-cell *matHeaderCellDef><h3> Ações </h3></th>
              <td mat-cell *matCellDef="let element">
                 <a routerLink="/formulario/editar-formulario/{{ element.id }}">
                    <i class="material-icons edit">edit</i>
                 </a>
                 <a routerLink="/questionario/{{element.id }}">
                     <i class="material-icons visibility">visibility</i>
                  </a>
              </td>
           </ng-container>

           <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
           <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 2, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
     </div>

 </mat-card>


