<header class="header">
  <a class="navbar-logo" routerLink="/home">
    <img id="logo"
      src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=height:60/https://file-uploads.teachablecdn.com/cafdd5e23ede4e52b0b3c293024bcbf1/a1de44835f9c41309464ba4c42d99284"
      alt="SoulCode Academy"
      srcset="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=height:120/https://file-uploads.teachablecdn.com/cafdd5e23ede4e52b0b3c293024bcbf1/a1de44835f9c41309464ba4c42d99284">
  </a>
</header>

<div class="flex-container">
  <button mat-mini-fab color="primary" routerLink="/aluno/lista-aluno">
    <mat-icon>
      arrow_left
    </mat-icon>
  </button>

  <mat-card class="form">
    <form action="" id="main-form" [formGroup]="formulario">
      <h1>Atualizar dados</h1>
      <mat-form-field appearance="outline">
        <mat-label>Nome do Aluno</mat-label>
        <input type="text" matInput formControlName="nome" name="nome" [(ngModel)]="aluno.nome">
        <mat-error>
          Este campo é obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>E-mail do Aluno</mat-label>
        <input type="text" matInput formControlName="email" name="email" [(ngModel)]="aluno.email">
        <mat-error>
          Este campo é obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Telefone de Aluno</mat-label>
        <input type="text" matInput formControlName="cel" name="cel" mask="(00) 9 0000-0000" [(ngModel)]="aluno.cel">
        <mat-error>
          Este campo é obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Empresa do Aluno</mat-label>
        <mat-select
         [(ngModel)]="aluno.parceiroCnpj"
         name="parceiroCnpj"
         formControlName="parceiroCnpj"
         required>
           <mat-option *ngFor="let empresa of listaDeEmpresas" [value]="empresa.cnpj">{{empresa.nome}}</mat-option>
         </mat-select>

        <mat-error>
          Este campo é obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Data de desligamento do curso</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="dataDesligamento" name="dataDesligamento"
          [(ngModel)]="aluno.dataDesligamento">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-error>Este campo é obrigatório</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Observações</mat-label>
        <textarea matInput formControlName="motivoDesligamento" name="motivoDesligamento" [(ngModel)]="aluno.motivoDesligamento"></textarea>
        
       
           <mat-error>
             Este campo é obrigatório
            </mat-error>
      </mat-form-field>

      <button class="btn" (click)="editarAluno()" mat-raised-button color="primary" type="submit" style="margin-top: 10px;"
        [disabled]="false">Atualizar</button>
      <button class="btn" mat-raised-button color="warn" style="margin-top: 10px;" type="button"
        routerLink="/aluno/lista-aluno">Cancelar</button>

    </form>
  </mat-card>
</div>