<header class="header">
    <a class="navbar-logo" routerLink="/home">
    <img id="logo" src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=height:60/https://file-uploads.teachablecdn.com/cafdd5e23ede4e52b0b3c293024bcbf1/a1de44835f9c41309464ba4c42d99284" alt="SoulCode Academy" srcset="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=height:120/https://file-uploads.teachablecdn.com/cafdd5e23ede4e52b0b3c293024bcbf1/a1de44835f9c41309464ba4c42d99284">
    </a>
  </header>

<mat-card class="card mat-elevation-z8">
    <div class="container">

        <h1 class="mat-elevation-z8">Bem-vindo</h1>
    </div>

    <mat-card-content>
        <div id="cards">
            <div class="card1">
                <a routerLink="/aluno/lista-aluno">
                    <img class="imagem" src="assets/img/imagem11.jpg" alt="Alunos"></a>
                <p><a routerLink="/aluno/lista-aluno">Alunos</a></p>
            </div>
            <div class="card2">
                <a routerLink="/empresa/lista-empresa">
                <img class="imagem" src="assets/img/imagem4.png" alt="Empresas"></a>
                <p> <a routerLink="/empresa/lista-empresa">Empresas</a></p>
            </div>
            <div class="card3">
                <a routerLink="/usuario/lista-usuario">
                <img class="imagem" src="assets/img/imagem2.png" alt="Usuarios"></a>
                <p>  <a routerLink="/usuario/lista-usuario">Usuários</a></p>
            </div>
        </div>
        <div class="cards-x">
            <div class="card5">
                <a routerLink="/formulario/lista-formulario">
                <img class="imagem" src="assets/img/imagem10.jpg" alt="Pesquisa"></a>
                <p> <a routerLink="/formulario/lista-formulario">Formulários</a></p>
            </div>
            <div class="card6">
                <a routerLink="/questoes/lista-questao">
                <img class="imagem" src="assets/img/imagem14.jpg" alt="Pesquisa"></a>
                <p> <a routerLink="/questoes/lista-questao">Questões</a></p>
            </div>
            <div class="card7">
                <img class="imagem" src="assets/img/imagem6.png" alt="Dashboard">
                <p>Dashboard</p>
            </div>
        </div>
        <br>
        <footer class="footer">© SoulCode Academy 2022</footer>
    </mat-card-content>
</mat-card>
