<div class="body">
  <header class="header">
    <a class="navbar-logo" routerLink="/home">
    <img id="logo" src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=height:60/https://file-uploads.teachablecdn.com/cafdd5e23ede4e52b0b3c293024bcbf1/a1de44835f9c41309464ba4c42d99284" alt="SoulCode Academy" srcset="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=height:120/https://file-uploads.teachablecdn.com/cafdd5e23ede4e52b0b3c293024bcbf1/a1de44835f9c41309464ba4c42d99284">
    </a>
  </header>
  
  <div class="flex-container">
    <mat-card class="flex-card">
      <mat-card-content>
        <p><strong>Respostas enviadas com sucesso.</strong></p>
    </mat-card-content>
    <mat-card-content>
        <p>Muito brigado por responder o questionário!</p>
    </mat-card-content>
    </mat-card>
  </div>
</div>
