<header class="header">
  <a class="navbar-logo" routerLink="/home">
    <img id="logo"
      src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=height:60/https://file-uploads.teachablecdn.com/cafdd5e23ede4e52b0b3c293024bcbf1/a1de44835f9c41309464ba4c42d99284"
      alt="SoulCode Academy"
      srcset="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=height:120/https://file-uploads.teachablecdn.com/cafdd5e23ede4e52b0b3c293024bcbf1/a1de44835f9c41309464ba4c42d99284">
  </a>
</header>

<div class="flex-container">
  <button mat-mini-fab color="primary" routerLink="/formulario/lista-formulario">
    <mat-icon>
      arrow_left
    </mat-icon>
  </button>

  <mat-card class="form">

    <form action="" id="main-form" [formGroup]="formulario" (ngSubmit)="editFormulario()">
      <h1>Cadastro de Formulários</h1>
      <mat-form-field appearance="outline">
        <mat-label>Nome do Formulário</mat-label>
        <input type="text" matInput formControlName="nomeFormulario" name="nomeFormulario"
          [(ngModel)]="formularios.nomeFormulario">
        <mat-error>
          Este campo é obrigatório
        </mat-error>
      </mat-form-field>

      <form action="" id="main-form" [formGroup]="selecionarQuestoes">

        <mat-form-field appearance="outline">
          <mat-label>Questão</mat-label>
          <mat-select formControlName="questao" name="questao" class="form-control mb-3" [(ngModel)]="questao">

            <mat-option *ngFor="let item of listaQuestoes" [value]="item">{{item.enunciado}}</mat-option>
          </mat-select>
        </mat-form-field>

        <button class="btn" mat-raised-button color="primary" type="submit" style="margin-top: 10px;"
          (click)="cadastrarQuestao()">Adicionar questão</button>
      </form>

      <span *ngFor="let item of listadeQuestoesForm; let i = index" >
        {{item.enunciado}}
        <button mat-mini-fab color="accent" type="button" (click)="deletarQuestao(i,1)">
          <mat-icon>delete</mat-icon>
        </button>
      </span>
      <br>
      <mat-form-field appearance="fill">
        <mat-label> Destinatário do Formulario</mat-label>
        <mat-select formControlName="destinatarioPergunta" name="destinatarioPergunta" class="form-control mb-3"
          [(ngModel)]="formularios.destinatarioPergunta">

          <mat-option *ngFor="let item of destinatarioPergunta" [value]="item">{{item}}</mat-option>

        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Periodo do formulario</mat-label>
        <mat-select formControlName="periodoFormulario" name="periodoFormulario" class="form-control mb-3"
          [(ngModel)]="formularios.periodoFormulario">

          <mat-option *ngFor="let item of periodoFormulario" [value]="item">{{item}}</mat-option>

        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Turma do formulário</mat-label>
        <mat-select formControlName="turma" name="turma" class="form-control mb-3" [(ngModel)]="formularios.turma">

          <mat-option value="JAVA_FULL_STACK">Java FullStack</mat-option>
          <mat-option value="DESENVOLVEDOR_SALESFORCE">SalesForce</mat-option>
          <mat-option value="ENGENHARIA_DE_DADOS">Engenharia de dados </mat-option>
          <mat-option value="MIDIA_DIGITAL">Midia digital</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" style="margin-top: 10px;"
        [disabled]="!validarCampos()">Atualizar</button>

        <button mat-raised-button color="primary" type="submit" style="margin-top: 10px; "routerLink="/formulario/lista-formulario"
        >Cancelar</button>



      </form>
  </mat-card>
</div>
