.navbar-logo {
  max-width: 250px;
  display: flex;
}

.header .navbar-logo img {
  height: auto;
  max-width: 100%;
}
.header {
  height: 60px;
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%);
  overflow: auto;
}

#logo {
  margin: 0;
}

.container {
  width: 90%;
  margin: auto;
  
}

mat-form-field {
  width: 100%;
}
.form {
  display: flex;
  justify-content: center;
  width: 500px;
  border-radius: 60px;
  text-align: center;
  border: 1px solid black;
  
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-right: 45px;
}

button {
  margin-top: .5rem;
  margin-right: 20px
}

mat-icon {
  opacity: .8;
  display: flex;
  align-items: center;
}


mat-radio-group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

mat-radio-button {
  margin-bottom: 15px;
}