<header class="header">
  <a class="navbar-logo" routerLink="/home">
    <img id="logo"
      src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=height:60/https://file-uploads.teachablecdn.com/cafdd5e23ede4e52b0b3c293024bcbf1/a1de44835f9c41309464ba4c42d99284"
      alt="SoulCode Academy"
      srcset="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=height:120/https://file-uploads.teachablecdn.com/cafdd5e23ede4e52b0b3c293024bcbf1/a1de44835f9c41309464ba4c42d99284">
  </a>
</header>

<div class="flex-container">

  <button mat-mini-fab color="primary" routerLink="/formulario/lista-formulario">
    <mat-icon>
      arrow_left
    </mat-icon>
  </button>

  <mat-card class="form">

    <form action="" id="main-form">
      <h1> Questionário</h1>

      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input type="text" matInput name="email" [(ngModel)]="formularioResposta.email">
        <mat-error>
          Este campo é obrigatório
        </mat-error>
      </mat-form-field>


      <div [(ngModel)]="questao.selecao" name="selecao" ngDefaultControl
        *ngFor="let questao of formularioResposta.questoes; let i = index">
        <h3>{{i + 1 + ') ' + questao.enunciado }}</h3>

        <mat-radio-group required>

          <mat-radio-button  *ngFor="let item of questao.alternativas" [value]="item"> {{item}} </mat-radio-button>

        </mat-radio-group>

      </div>


      <button mat-raised-button color="primary" type="submit" style="margin-top: 10px;"
        (click)="enviarFormulario()">Enviar formulário</button>

    </form>
  </mat-card>
</div>